@if (order | async; as order) {
@if (menu | async; as menu) {
<div class="order-container" [style.background-image]="backgroundImage">


    @if (!isNewOrder) {
      <h2>Welcome back {{order.orderParticipant.name | titlecase}}</h2>
    } @else {
      <h2>Place Your Order</h2>
    }
  <p>
    You've been invited to place an order for a meal. Please select the items you'd like to order from the menu below.
  </p>
  <p>
    {{menu.description}}
  </p>

  <mat-chip-listbox aria-label="Fish selection" >
    @for (menuItemCategory of getMenuCategories(menu.menuItems); track menuItemCategory) {
      <mat-chip-option
        [matBadge]="getOrderedMenuItemsNamesForCategory(menuItemCategory).length > 0?getOrderedMenuItemsNamesForCategory(menuItemCategory).length:null"
        (click)="selectedMenuItemCategory = menuItemCategory"
      >{{menuItemCategory | titlecase}}</mat-chip-option>
    }
  </mat-chip-listbox>
  <div *ngFor="let item of getMenuItemsForCategory(selectedMenuItemCategory, menu.menuItems)" class="menu-item" [matTooltip]="item.description">
    <label>
      <mat-checkbox [checked]="menuItemNames.includes(item.name)" (change)="onItemSelect(item, $event.checked)"></mat-checkbox>
      <span class="item-name">{{ item.name }}</span>
      <span class="item-price">{{ item.price | currency:'GBP' }}</span>
    </label>
  </div>

</div>
<div class="placed-menu-items-container">
  <div *ngFor="let menuItem of selectedItems" class="menu-item">
    <label>
      <span class="item-name">{{ menuItem.name }}</span>
      <span class="item-price">{{ menuItem.price | currency:'GBP' }}</span>
    </label>
  </div>
  <div>
    @if (selectedItems) {
      Total: {{getTotalPrice(selectedItems) | currency:'GBP'}}
    }
  </div>
  <button type="submit" [disabled]="selectedItems.length == 0" (click)="confirmOrder(order)" mat-button>Submit Order</button>
</div>
}
}
