<div class="order-container">

  @if ((order | async)?.orderParticipant.name; as name) {
    @if (name != "AnonymousUser") {
      <h2>Welcome back {{name | titlecase}}</h2>
    } @else {
      <h2>Place Your Order</h2>
    }
  }
  <p>
    You've been invited to place an order for a meal. Please select the items you'd like to order from the menu below.
  </p>

  <form >
    <div *ngIf="menu | async as menu">
      <div *ngFor="let menuItemCatagories of getMenuCategories(menu.menuItems)">
        <h3>{{menuItemCatagories.toLowerCase() | titlecase}}s</h3>
        <div *ngFor="let item of getMenuItemsForCategory(menuItemCatagories, menu.menuItems)" class="menu-item">
          <label>
            <mat-checkbox [checked]="menuItemNames.includes(item.name)" (change)="onItemSelect(item, $event.checked)"></mat-checkbox>
            <span class="item-name">{{ item.name }}</span>
            <span class="item-price">{{ item.price | currency:'GBP' }}</span>
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="placed-menu-items-container">
  <div *ngFor="let menuItem of selectedItems" class="menu-item">
    <label>
      <span class="item-name">{{ menuItem.name }}</span>
      <span class="item-price">{{ menuItem.price | currency:'GBP' }}</span>
    </label>
  </div>
  <div>
    Total: {{getTotalPrice(selectedItems) | currency:'GBP'}}
  </div>
  <button type="submit" [disabled]="selectedItems.length == 0" (click)="confirmOrder()" mat-button>Submit Order</button>
</div>
