<div class="order-container">
  <h2>Place Your Order</h2>
  <p>
    You've been invited to place an order for a meal. Please select the items you'd like to order from the menu below.
  </p>

  <form >
    <div *ngIf="menu | async as menu">
      <div *ngFor="let item of menu.menuItems" class="menu-item">
        <label>
          <input type="checkbox" [value]="item" (change)="onItemSelect(item, $event.target)">
          <span class="item-name">{{ item.name }}</span>
          <span class="item-price">{{ item.price | currency }}</span>
        </label>
      </div>
    </div>
    <button type="submit" class="submit-button">Submit Order</button>
  </form>
</div>
