<div class="menu-items-list">
  <mat-card *ngFor="let item of menuItems" class="menu-item-card">
    <div class="menu-item-header">
      <span class="item-name">{{ item.name }}</span>
      <span class="item-category">{{ item.menuItemCategory }}</span>
    </div>
    <div class="item-description">
      {{ item.description }}
    </div>
    <div class="bottom-section">
      <div>
        <button mat-button (click)="editMenuItem(item.name)">Edit</button>
        <button mat-button (click)="removeMenuItem(item.name)">Delete</button>
      </div>
      <div class="item-price">
        {{ item.price | currency }}
      </div>
    </div>
  </mat-card>
</div>
