micronaut:
  server:
    cors:
      enabled: true
      configurations:
        ui:
          allowed-origins:
            - http://localhost:8080
            - http://localhost:4200
  security:
    oauth2:
      enabled: false

endpoints:
  routes:
    enabled: true
    sensitive: false
  beans:
    enabled: true
    sensitive: false
  env:
    enabled: true
    sensitive: false

mockAuthConfig:
  sessionLessStateAuth: ${STATELESS_SESSION_AUTH:true}
  admin: ${IS_ADMIN:true}