<mat-sidenav-container class="sidenav-container">
    <mat-toolbar *ngIf="userDetails">
      <div id="nav-bar-container">
        <div>
          <span class="logo" routerLink="/">Food Order</span>
        </div>
        <div>
          <a mat-button routerLink="/kanban">Add Order</a>
          <a mat-button data-testid="open-add-meal-btn-dialog" (click)="openDialogComponent(AddMealDialogComponent)">Add Meal</a>
          <a mat-button data-testid="open-add-menu-btn-dialog" (click)="openDialogComponent(AddMenuDialogComponent)">Add Menu</a>
        </div>
      </div>



    </mat-toolbar>

    <!-- TRANSCLUSION -->
    <ng-content></ng-content>
</mat-sidenav-container>



