<table mat-table [dataSource]="this.orders | async" multiTemplateDataRows >
  <ng-container matColumnDef="participantsName">
    <th mat-header-cell *matHeaderCellDef>Participants Name.</th>
    <td mat-cell *matCellDef="let order" data-testid="meal-table-name-cell">{{order.orderParticipant.name | titlecase}}</td>
  </ng-container>
  <ng-container matColumnDef="copyInviteLink">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let order" class="right-align" data-testid="meal-table-name-cell">
      <button mat-raised-button [cdkCopyToClipboard]="placeOrderBasePath + order.meal.id + '/' + order.orderParticipant.userId" >Copy Invite Link</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row  *matRowDef="let row; columns: columnsToDisplay;" [attr.data-testid]="'meal-row-' + row.participantsName"></tr>
</table>
