<div mat-dialog-title class="menu-dialog-title">
  <h2>Add Meal</h2>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="addMealFormGroup" (ngSubmit)="addMeal()">
  <div mat-dialog-content data-testid="meal-dialog">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input data-testid="name-input" type="text" matInput [formControl]="addMealFormGroup.controls.name" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input data-testid="meal-date-input" matInput [matDatepicker]="datepicker" [formControl]="addMealFormGroup.controls.dateOfMeal"/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Location</mat-label>
        <mat-select data-testid="location-select" [formControl]="addMealFormGroup.controls.location" (selectionChange)="getMenusForLocation($event.value)">
          @for (location of locations; track location) {
            <mat-option [value]="location" >{{location}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (menus.length != 0) {
        <mat-form-field>
          <mat-label>Menu</mat-label>
          <mat-select data-testid="menu-select" [formControl]="addMealFormGroup.controls.menuName">
            @for (menu of menus; track menu) {
              <mat-option [value]="menu.name" >{{menu.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
      <mat-label>Private Meal</mat-label>
      <mat-checkbox data-testid="private-meal-checkbox" [formControl]="addMealFormGroup.controls.privateMeal"></mat-checkbox>

      @if (addMealFormGroup?.value?.privateMeal) {
        <mat-form-field>
          <mat-label>Number of recipients</mat-label>
          <input data-testid="number-of-recipients-input" type="number" matInput [formControl]="addMealFormGroup.controls.numberOfRecipients" >
        </mat-form-field>
      }
  </div>
  <div mat-dialog-actions>
    <button data-testid="add-meal-button" mat-button [disabled]="addMealFormGroup.invalid">Add</button>
    <button mat-button mat-dialog-close type="button">Close</button>
  </div>
</form>

