
<h2 mat-dialog-title>Add Meal</h2>
<form [formGroup]="addMealFormGroup" (ngSubmit)="addMeal()">
  <div mat-dialog-content id="meal-dialog">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" matInput [formControl]="addMealFormGroup.controls.name" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="datepicker" [formControl]="addMealFormGroup.controls.dateOfMeal"/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Location</mat-label>
        <mat-select id="location-select" [formControl]="addMealFormGroup.controls.location" (selectionChange)="getVenuesForLocation($event.value)">
          @for (location of locations; track location) {
            <mat-option [value]="location" >{{location}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (addMealFormGroup?.value?.location) {
        <mat-form-field>
          <mat-label>Venue</mat-label>
          <mat-select id="venue-select" [formControl]="addMealFormGroup.controls.venueName">
            @for (venue of venues; track venue) {
              <mat-option [value]="venue.name" >{{venue.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
  </div>
  <div mat-dialog-actions>
    <button id="add-meal-button" mat-button mat-dialog-close [disabled]="addMealFormGroup.invalid">Add</button>
    <button mat-button mat-dialog-close type="button">Close</button>
  </div>
</form>

