<div mat-dialog-title class="menu-dialog-title">
  <h2>Add Menu</h2>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="menuFormGroup" (ngSubmit)="saveMenu()">
  <div mat-dialog-content id="menu-dialog">
      <mat-form-field style="width: 100%">
        <mat-label>Name</mat-label>
        <input data-testid="menu-name-input" type="text" matInput [formControl]="menuFormGroup.controls.name" >
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Location</mat-label>
        <mat-select data-testid="menu-location-select" [formControl]="menuFormGroup.controls.location">
          @for (location of locations; track location) {
            <mat-option [value]="location" >{{location}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" style="width: 100%">
        <mat-label>Description</mat-label>
        <textarea data-testid="menu-description-textarea" matInput [formControl]="menuFormGroup.controls.description" placeholder="Add a short description about this Menu"></textarea>
      </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input data-testid="menu-phone-input" type="text" matInput [formControl]="menuFormGroup.controls.phoneNumber">
    </mat-form-field>
      <p>Menu Items</p>
      <app-menu-item-list [menuItems]="menuItems" (removeMenuItem)="removeMenuItem($event)" (editMenuItem)="editMenuItem($event)"></app-menu-item-list>

      <form [formGroup]="addMenuItemForm" (ngSubmit)="addMenuItem()">
        <div>
          {{addMenuItemForm.controls.name.getError('nonUniqueItem')}}
        </div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input data-testid="menu-item-name" type="text" matInput [formControl]="addMenuItemForm.controls.name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input data-testid="menu-item-description" type="text" matInput [formControl]="addMenuItemForm.controls.description">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input data-testid="menu-item-price" type="string" matInput [formControl]="addMenuItemForm.controls.price">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <mat-label>Category</mat-label>
          <mat-select data-testid="menu-item-category-select" [formControl]="addMenuItemForm.controls.menuItemCategory">
            @for (category of menuItemCatogorys; track category) {
              <mat-option [value]="category" >{{category.toLowerCase() | titlecase}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button data-testid="add-menu-item-btn" mat-button [disabled]="addMenuItemForm.invalid">Add MenuItem</button>
      </form>
      <button data-testid="add-menu-btn" mat-button [disabled]="menuFormGroup.invalid">Add Menu</button>
  </div>
</form>
<app-menu-upload (menuItems)="addMenuItemsFromFile($event)"></app-menu-upload>
